.title-error {
    padding: 5px;
    width: 400px;
    margin: 20px auto;  
    text-align: center; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.text-error {
    width: 500px;
    margin: 5px auto;
    text-align: center; 
    color: white;
    font-size: 15px;
}


body {
    font-family: "Poppins";
    font-size: normal;
    background-color: #090B0F;
}


.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.htframe {
    border-radius: 5px;  
}

.about-title-text-box {
    padding: 5px;
    width: 700px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
}

.about-description-text {
    width: 500px;
    margin: 5px auto;
    text-align: center; 
    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
}